version: "3.8"

services:
  agent_service:
    image: agent_service:latest
    container_name: agent_service
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8250:8250"
    environment:
      - ADDITION_SERVICE_URL=http://addition_service:8000
      - RAG_SERVICE_URL=http://rag-api:8000
    command: ["uv", "run", "python", "app.py"]
    networks:
      - default
      - rag_network
      - test_generator_network
      - web_ui_network

networks:
  rag_network:
    external: true
    name: rag_rag_network
  test_generator_network:
    external: true
    name: llm_tester_default
  web_ui_network:
    external: true
    name: web_ui_internal_network
