version: "3.8"

services:
  agent_prod:
    image: agent_service:latest
    ports:
      - "8270:8270"
    volumes:
      - ./app_settings-prod.json:/app/app_settings.json:ro
    environment:
      - PYTHONUNBUFFERED=1
      - ADDITION_SERVICE_URL=http://addition_service:8000
      - RAG_SERVICE_URL=http://rag-api:8000
      - WEB_UI_URL=http://web_ui_prod:8150
    command: uv run python app.py --settings app_settings.json
    networks:
      - default
      - rag_network
      - test_generator_network
      - web_ui_network

networks:
  rag_network:
    external: true
    name: rag_rag_network
  test_generator_network:
    external: true
    name: llm_tester_default
  web_ui_network:
    external: true
    name: web_ui_internal_network