version: "3.8"

services:
  agent_service:
    image: agent_service:latest
    container_name: agent_service
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8099:8000"
    environment:
      - ADDITION_SERVICE_URL=http://addition_service:8000
      - RAG_SERVICE_URL=http://rag:8000
    command: ["tail", "-f", "/dev/null"]
    external_links:
      - addition_service
      - rag
