version: "3.8"

services:
  agent_service:
    image: agent_service:latest
    container_name: agent_service
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8099:8000"
    environment:
      - ADDITION_SERVICE_URL=http://addition_service:8000
      - RAG_SERVICE_URL=http://rag-api:8000
    command: ["tail", "-f", "/dev/null"]
    networks:
      - default
      - rag_network
      - test_generator_network

networks:
  rag_network:
    external: true
    name: rag_rag_network
  test_generator_network:
    external: true
    name: llm_tester_default
